<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/pp.png" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p>Hi! I am Melchior Vito Karyadi, a freelancer with the title Network Engineer, 18 years old with more than 3 years of experience working in the world of designing and implementing digital telecommunications networks. I have also been certified for several of my accomplishments!</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>
        <div class="resume-item">
          <h3 class="resume-item-title">CCTV Technician</h3>
          <h4 class="resume-item-details">Part Time &bull; PT. Jaringan Semesta Raya, Bogor &bull; November, 2024 &mdash; Present</h4>
          <p class="resume-item-copy">My Experiences:</p>
          <ul class="resume-item-list">
            <li>Design an CCTV Network for Home and Office.</li>
            <li>Installation and Repair of Office CCTV Network.</li>
          </ul>

        </div><!-- end of resume-item -->

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Network Engineer & Event Organizer</h3>
          <h4 class="resume-item-details">Part Time &bull; Mineversal Team ID, Jakarta &bull; June, 2023 &mdash; Present</h4>
          <p class="resume-item-copy">My Experiences:</p>
          <ul class="resume-item-list">
            <li>Design Local (LAN) and Server based game tournament activities/events.</li>
            <li>Contribute with various game vendors in the team.</li>
          </ul>

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">IT Support Technician</h3>
          <h4 class="resume-item-details">Part Time &bull; BMV Cathedral Catholic Church, Bogor &bull; October, 2023 &mdash; January, 2025</h4>
          <p class="resume-item-copy">My Experiences:</p>
          <ul class="resume-item-list">
            <li>Selection of devices and installation of computer devices for office needs.</li>
            <li>Repair of office computer devices (desktop computers, printers, router, access point, cctv, etc..)</li>
            <li>installation of office building internet networks.</li>
          </ul>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Course-Net Indonesia</h3>
          <h4 class="resume-item-details">CEH; Certified Ethical Hacker &bull; 2025</h4>
          <!-- <p class="resume-item-copy"></p> -->
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Course-Net Indonesia</h3>
          <h4 class="resume-item-details">CCNA; Cisco Certified Network Associate &bull; 2024</h4>
          <!-- <p class="resume-item-copy"></p> -->
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">BPK PENABUR High School</h3>
          <h4 class="resume-item-details">Social Science, Multimedia and Informatics &bull; 2021 &mdash; 2024</h4>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      <!-- begin Certifications -->
      <section class="content-section">

        <header class="section-header">
          <h2>Licenses & Certifications</h2>
        </header>
         <div class="resume-item">
          <h3 class="resume-item-title">Certified Ethical Hacker v13 (CEH)</a></h3>
          <h4 class="resume-item-details">EC-Council &bull; March, 2025</h4>
          <p class="resume-item-copy">Exam Transcript: <a href="https://github.com/VitoKaryadi/jekyll-personalweb/blob/5ee5ec4bc1fff33d90eaa52e17aebd06dbfe5413/Exam-Transcript.pdf">EC-Council Exam Transcript</a></p>
          <p class="resume-item-copy">Credential ID: <a href="https://github.com/VitoKaryadi/jekyll-personalweb/blob/bfcbbffcf514097d38eabc1e632349757f1d6e85/CEH%20Certificate.pdf">ECC3217406589</a></p>
        </div>
        
        </header>
         <div class="resume-item">
          <h3 class="resume-item-title">Certificate of Attendance (CEH)</a></h3>
          <h4 class="resume-item-details">EC-Council &bull; March, 2025</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://github.com/VitoKaryadi/jekyll-personalweb/blob/0fd5f51839fae46a61e743462fd67c804d96e68b/ECC-Evaluation-Certificate.pdf">745739</a></p>
        </div>

        </header>
         <div class="resume-item">
          <h3 class="resume-item-title">Certificate of Attendance (CEH)</a></h3>
          <h4 class="resume-item-details">Course-Net Indonesia &bull; March, 2025</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://coursenet.s3.ap-southeast-3.amazonaws.com/Course-Net-Advanced/member/CompletionCertificateMelchior%20Vito%20Karyadi-31076.pdf">2503/PK-00060</a></p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Certificate of Attendance Cisco Certified Network Academy</a></h3>
          <h4 class="resume-item-details">Course-Net Indonesia &bull; December, 2024</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://coursenet.s3.ap-southeast-3.amazonaws.com/Course-Net-Advanced/prod/member/CompletionCertificateMelchior%20Vito%20Karyadi-1310.pdf">251/PK-00001</a></p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Cisco Certified Network Asssociate Indonesia</a></h3>
          <h4 class="resume-item-details">Course-Net Indonesia &bull; December, 2024</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://coursenet.s3.ap-southeast-3.amazonaws.com/Course-Net-Advanced/prod/member/CompetencyCertificateMelchior%20Vito%20Karyadi-1310.pdf">2501/PK-00001</a></p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Digital Marketing Basic Level Certified</a></h3>
          <h4 class="resume-item-details">IT Box &bull; October, 2024</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://itbox.id/certificate-verifier/13950AA2C-75A375953D-12CF930C4/">27534</a></p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Microsoft Excel Basic Level Certified</a></h3>
          <h4 class="resume-item-details">IT Box &bull; October, 2024</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://itbox.id/certificate-verifier/13950AA2C-759798EAE7-12CF930C4/">27534</a></p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">MikroTik Certified Traffic Control Engineer</a></h3>
          <h4 class="resume-item-details">PT. Citraweb Solusi Teknologi &bull; August, 2024</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://mikrotik.com/training/certificates/b332964c8f13d5b7451c">2408TCE2964</a></p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Certified Fiber Optic</a></h3>
          <h4 class="resume-item-details">PT. Citraweb Solusi Teknologi &bull; July, 2024</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://drive.google.com/file/d/13J_tuvmyNlivRrhUuW9AEUHq8qPL1PtR/view">2403CCFOA0069</a></p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">MikroTik Certified Network Associate</a></h3>
          <h4 class="resume-item-details">PT. Citraweb Solusi Teknologi &bull; May, 2024</h4>
          <p class="resume-item-copy">Credential ID: <a href="https://mikrotik.com/training/certificates/b305272c38d338ddc2e5">2405NA5272</a></p>
        </div>
      </section>
      <!-- end Certifications -->

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <!-- <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Donut design</h4>
          <p class="resume-item-copy">Sprinkle art, icing design, eclair management, taste testing, donut/coffee pairing research</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Craft beer brewing</h4>
          <p class="resume-item-copy">Hops inspection, brew testing, distribution management, bottle label design, festival and event management</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Family leadership</h4>
          <p class="resume-item-copy">Bread winning, conflict resolution, couch inspection, TV longevity testing</p>
        </div>

      </section> -->
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <!-- <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section> -->
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <!-- <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section> -->
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Organizations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Organizations & Volunteer</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="https://capgomehbogor.id">CapGoMeh Bogor Street Festival 2025 (CGM BSF)</a></li>
            <li><a href="https://kln.or.id">Komunitas Literasi Nusantara (Digital Nusantara)</a></li>
            <li><a href="https://pemudakatolik-bogorkota.com/">Pemuda Katolik Komisariat Cabang Kota Bogor (2024 - 2027)</a></li>
            <li><a href="https://www.instagram.com/knpikotabogor/">Komite Nasional Pemuda Indonesia DPD Kota Bogor (2025 - 2028)</a></li>
          </ul>
        </div>

      </section>
      <!-- end Organizations -->
      {% endif %}

      <section class="content-section">

        <header class="section-header">
          <h2>Badges:</h2>
        </header>
        <div style="width: 64px;">
          <img src="https://github.com/VitoKaryadi/jekyll-personalweb/blob/main/CEH_2E345519D3F7.png?raw=true">
        </div>
      </section>

      <footer class="page-footer">
        <p class="footer-line">Copyright 2025 &copy; by Vito Karyadi</a></p>
      </footer>

    </div>

  </body>

</html>
